.form{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.addUpdate h2{
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
}

.form input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin: 5px;
  }

.form button{
    margin-left: 35vw;
    margin-top: 15px;
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* margin: 7px; */
}

.complete-message{
    color: green;
    font-size: 20px;
    margin-left: 10vw;
}