#form{
    width: 500px;
}

.manager{
    display: flex;
    flex-direction: column;
}

.manager form{
    display: flex;
    margin: 10px;
    padding: 20px;
    margin-left: 450px;
}

#form select{
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    width: 250px;
    border: none;
    border-radius: 5px;
}

#form span{
    font-size: 25px;
    font-weight: bold;
}

#form input[type="file"]{
    margin-top: 5px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}